@use '../mixins';
@use '../variables';

.card{
	@include mixins.displayFlex($direction:column, $justify:center);
	position: relative;
	height: clamp(250px, 35vw, 430px);
	width: clamp(145px, 23vw, 325px);
	padding-bottom: 8px;
	margin: clamp(5px, .8vw, 15px);
	background-color: #FFF;	
	text-align: center;
	color: variables.$dark-green;
	border-radius: 8px;

	&__pokefan{
		position: absolute;
		top: -4px;
		right: -5px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 clamp(70px, 9vw, 120px) clamp(70px, 9vw, 120px) 0;
		border-color: transparent variables.$yellow-pokemon transparent transparent;

		p{
		    position: absolute;
		    top: clamp(20px, 3vw, 35px);
		    left: clamp(15px, 1.9vw, 25px);			
		    transform: rotate(45deg);
		    color: variables.$red-pokemon;
		    font-weight: 700;
		    font-family: "Grandstander", cursive;
		    font-size: clamp(1.5rem, .8rem + 1vw, 2.5rem);
		}
	}
	&__experience{
		padding: 15px 0;
		font-weight: 500;
		font-family: 'Kdam Thmor Pro', sans-serif;
		font-size: clamp(1.8rem, 1.3rem + 1vw, 2.7rem);
	}
	&__img{
		width: clamp(90px, 13vw, 180px);
		max-height: 180px;
		min-height: 90px;
		margin: auto;		
	}
	&__name{
		padding: 15px 0;
		font-weight: 700;
		font-family: 'Rubik', sans-serif;
		font-size: clamp(2.1rem, 1.8rem + 1vw, 3.5rem);
	}
}