@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Rubik&display=swap');
$font-color: #476B6A;
$green-apple-color: #E9F2DE;

.cardHome{
	display: flex;
	justify-content: center;
	flex-direction: column;
	max-width: 145px;
	max-height: 250px;
	min-width: 145px;
	min-height: 250px;
	padding-bottom: 8px;
	margin: 5px;
	border-radius: 8px;
	background-color: #fff;	
	text-decoration: none;
	text-align: center;
	color: #476B6A;

	.cardHome__experience{
		font: 500 18px 'Kdam Thmor Pro', sans-serif;
		padding: 15px 0;
	}

	.cardHome__img{
		margin: auto;		
		max-height: 90px;
		min-height: 90px;		
		max-width: 90px;
	}
	
	.cardHome__name{
		font: 700 21px 'Rubik', sans-serif;
		padding: 15px 0;
	}
}