@use '../mixins';
@use '../variables';

$pokefan_size: clamp(65px, 11vw, 100px);

.detail-card{
	@include mixins.displayFlex($direction: column, $alignI:center);
	position: relative;
	width: clamp(280px, 55vw, 480px);
	background-color:#A68DDB;
	padding-top: 20px;
	border-radius: 20px;

	.pokefan-identifiquer{
		position: absolute;
	    top: -30px;
	    right: 2px;
		transform: rotate(-13deg);

		.burst-12 {
			position: relative;
			width: $pokefan_size;
			height: $pokefan_size;
			background: variables.$yellow-pokemon;

			&::before, &::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				height: $pokefan_size;
				width: $pokefan_size;
				background: variables.$yellow-pokemon;
			}
			&::before {
			  transform: rotate(30deg);
			}
			&::after {
			  transform: rotate(60deg);
			}
		}	
		p{
			position: absolute;
			top: 40%;
			color:variables.$red-pokemon;
			font-weight: 900;
			font-family: 'Rubik', sans-serif;
			font-size: clamp(1.5rem, .9rem + 1.15vw, 2.2rem);
		}
	}

	&__exp{
		font-weight: 400;
		font-family: 'Rubik', sans-serif;
		font-size: clamp(3rem, 2.8rem + 1vw, 4.5rem);
		color: #FFF;
		text-align: center;
	}
	&__semicircular{
		height: clamp(144px, 28vw, 237px);
    	width: clamp(280px, 55vw, 460px);
	}
	&__info{
		position: relative;
		width: 100%;
		background-color: #FFF;
		padding: 40px 0 13px;
		text-align: center;
		border-radius: 0 0 20px 20px; 
	}

	&__image{
	    position: absolute;
		top: clamp(-155px, -19vw, -90px);
		left: 0;
		right: 0;
		width: clamp(145px, 28vw, 200px);
		height: clamp(125px, 23vw, 190px);
		margin: auto;

		img{
			height: 100%;
			max-width: 100%;
		}
	}

	&__name{
		font-weight: 400;
		font-family: 'Goldman', cursive;
		font-size: clamp(4rem, 3rem + 2vw, 6rem);
	}

	&__table{
		@include mixins.displayFlex($justify:center, $alignI:flex-end);
		max-width: 92%;
		margin: 5px auto 0 auto;
		padding-bottom: 10px;
		border-bottom:variables.$silver_line;

		.table{
			width: 35%;

			&__value{
				color: variables.$dark-green;
				font-weight: 400;
				font-family: 'Goldman', cursive;
				font-size: clamp(1.8rem, 1.3rem + 1vw, 3rem);
				padding: 8px 0;

				&:after{
					font-size: clamp(1.4rem, 1rem + 1vw, 2rem);
				}
			}
			&__title{
				font-weight: 700;
				font-family: 'Saira', sans-serif;
				font-size: clamp(1.6rem, 1.2rem + 2vw, 2rem);
			}	

			&--weight .table__value{
				border-left: variables.$silver_line;
				border-right: variables.$silver_line;

				&:after{
					content: "kg";
				}
			}
			&--height .table__value:after{
				content: "m";
			}
		}
	}

	&__statistics-container{
		color: variables.$dark-green;
		font-weight: 700;
		font-family: 'Saira', sans-serif;
		font-size: clamp(1.7rem, 1.2rem + 1vw, 2.2rem);

		.statistics{
			@include mixins.displayFlex($justify:space-between, $alignI:center);
			width: 88%;
			margin:15px auto;

			&__progress-bar-horizontal{
				max-width: 320px;
				background-color: #959292;
				border-radius:8px;
				animation: progress 2s ease forwards;

				div{
					height: 15px;
				    border-radius:8px;
				}
			}
			&__title{					
			    min-width: clamp(75px, 13vw, 93px);
	 			text-align: left;
			}
			&__info{
				@include mixins.displayFlex($justify:flex-end, $alignI:center);
				min-width: 80px;
	 			text-align: right;	
				
				svg{
					width: 25px;
					padding-left: 5px;
				}			
			}
		}
	}
}

@keyframes progress {
    0% {width: 0;}
    100% {width: 100%;}
}