@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Kdam+Thmor+Pro&display=swap');

@mixin displayFlex($direction, $justify) {
	display: flex;
	flex-wrap: wrap;
	flex-direction: $direction;
	justify-content: $justify;
} 

.filters{
	color:#fff;
	background-color: #CF3030;
	min-width: calc(100vw - 40px);
	padding: 20px;
	font: 500 15px 'Kdam Thmor Pro', sans-serif;

	&__section{
		margin: 30px 0;		

		p{
			font: 500 19px 'Kdam Thmor Pro', sans-serif;
		}		
	}

	.select{
		position: relative;
		margin: 5px 10px;

		&__option-main{
			color:#fff;
			font: 500 18px 'Kdam Thmor Pro', sans-serif;
		    background-color: #CF3030;
		    width: 100%;
			text-align: left;
			margin: 5px 0;	
			display: flex;
    		align-items: center;    
		    gap: 5px;

			img{
				width: 25px;
			}

			.arrow{
				position: absolute;
			    right: 15px;
			    top:10px;
			}
		}

		&__options{ 
			button{
				padding: 4px 25px;		
				font: 500 20px 'Alatsi', sans-serif;
			}	

			.disabled{
				color: #32F9D5;	
			}


			&--type{
				div{
					justify-content: flex-start;
					padding: 6px 25px;

					button{
						min-width: 150px;
						padding: 5px 0;

						img{
							padding-right: 5px;
						}    
					}					
				}
			}

			&.open{ 
				height: 75px;
			}
		}
	}
}




@media (min-width: 1100px) {

.filters{
	@include displayFlex(row, center);
	padding: 0;
	background-color: transparent;


	&__section{
	    margin: 0; 

		&--order{
			@include displayFlex(column, flex-end);

			&>p{
				align-self: flex-end;
				border-radius: 15px 0 0 0;
			}
		}	

		&--filter{
			&>p{
				border-radius: 0 15px 0 0;		
			}
		}	

		&>p{
			background-color: #B41919;
			width: 240px;
			padding: 5px 10px;
			margin:1px;
			text-align: center;			
		}

		&>div{
			@include displayFlex(row, flex-start);		


		}
	}


	.select {
		margin:1px;

		&__option-main{
			text-align: center;
			margin: 0;
			min-width: 260px;
			padding: 5px 10px;
		}

		&__options{ 
			position: absolute;
			right: 25px;
			
			button{
				background-color: #d95d5d;
				width: 210px;
				border-top:1px solid silver;
			}

			button:last-child, &--type.open{
				border-radius: 0 0 15px 15px;
			}		

			&--type{
				background-color: #d95d5d;
				width: 210px;

				div{
					padding: 0;

					button{
						padding: 6px 20px;
					}					
				}

				&.open{ 
					height: 830px;
				}
			}

		}		
	}

	&__section--order>div div:first-child .select__option-main{
		border-radius: 15px 0 0 15px;
	}	
	&__section--filter>div div:last-child .select__option-main{
		border-radius: 0 15px 15px 0;
	}	
}
}