@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Rubik&display=swap');


		// .order_and_filters{
		// 	position: sticky;
		// 	top:0;
		// 	text-align: center;

		// 	margin:20px auto;
		// 	position: sticky;
		// 	top:0;

		// 	.select{
		// 		position: relative;
		// 		display: inline-block;
		// 		margin: 10px;

		// 		.option_main{
		// 			cursor: pointer;
		// 			min-width: 260px;
		// 			min-height: 40px;
		// 			background-color:#CF3030;
		// 			color:#fff;
		// 			border: none;
		// 			border-radius: 20px;
		// 			position: relative;
		// 			font: 500 15px 'Kdam Thmor Pro', sans-serif;

		// 				span{
		// 					position: absolute;
		// 				    right: 15px;
		// 				}
		// 		}
		// 		.option_container{ 
		// 			position: absolute;
		// 			left:20px;

		// 				button{
		// 					cursor: pointer;
		// 					display: block;
		// 					min-width: 220px;
		// 					min-height: 40px;
		// 					border: 1px solid silver;
		// 					background-color: #e75c5c;
		// 					color:#fff;							
		// 				}
		// 				button:last-child {
		// 				  	border-radius: 0 0 20px 20px;
		// 				}
		// 		}
		// 	}
		// }

		.remove_random_container{
			grid-column: 1/3;
			margin: 0 auto;
    		max-width: 1400px;
    		display: flex;
    		justify-content: space-between;

    		.remove_btn, .random_btn{
    			cursor: pointer;
    			background-color: transparent;
    			border: none;
    			font:600 13px 'Rubik', sans-serif;
    			display: flex;
    			gap:5px;
    			align-items: center;
    		}
		}



.orderANDfilters{
	color:#fff;
	background-color: #CF3030;
	min-width: calc(100vw - 40px);
	padding: 20px;
	font: 500 15px 'Kdam Thmor Pro', sans-serif;
}

	.select{
		position: relative;
		display: inline-block;
		margin: 10px;

			.option_main{
				cursor: pointer;
				text-align: left;

				min-width: 260px;
				// min-height: 40px;
				background-color:#CF3030;
				color:#fff;
				border: none;
				border-radius: 20px;
				position: relative;
				font: 500 15px 'Kdam Thmor Pro', sans-serif;

					span{
						position: absolute;
					    right: 15px;
					}
			}
			.option_container{ 
				
					button{
						// display: block;
						color:#fff;
						border: none;
						background-color: transparent;
						text-align: left;
						padding-left: 25px;		
						font: 500 15px 'Kdam Thmor Pro', sans-serif;

					}
			}

	}
