@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

#notFound{
	display:flex;
	justify-content: center;
	align-items: center; 

		.msj{
			text-align: center;

				p{
					color: #0457b2;
					font:600 150px 'Anonymous Pro', monospace;
				}
				p:first-child{
					color: red;
					font:bold 200px 'Anonymous Pro', monospace;
				}
		}

		img{
			width: 520px;
		}
}