@use '../mixins';
@use '../variables';

.notFound{
	@include mixins.displayFlex($wrap:wrap, $justify:center, $alignI: center);	
	
	div{
		text-align: center;

		p{
			color: variables.$blue-pokemon;
			font:600 clamp(5.8rem, 4rem + 6vw, 13rem) 'Anonymous Pro', monospace;
		}
		p:first-child{
			color: variables.$red-pokemon;
			font:bold clamp(7.5rem, 5rem + 8vw, 16rem) 'Anonymous Pro', monospace;
		}
	}
	img{
		width: clamp(200px, 40vw, 520px);
	}
}