@use '../mixins';
@use '../variables';

.notFound{
	@include mixins.displayFlex($wrap:wrap, $justify:center, $alignI: center);	
	
	div{
		text-align: center;

		p{
			color: variables.$blue-pokemon;
            font-weight: 600;
            font-family: 'Anonymous Pro', monospace;
            font-size: clamp(5.8rem, 4rem + 6vw, 13rem);
		}
		p:first-child{
			color: variables.$red-pokemon;
            font-weight: bold;
            font-family: 'Anonymous Pro', monospace;
            font-size: clamp(7.5rem, 5rem + 8vw, 16rem);
		}
	}
	img{
		width: clamp(200px, 40vw, 520px);
	}
}