@use '../mixins';

.rem-filter-and-random{
	@include mixins.displayFlex($justify:space-between);
	max-width: 1500px;
	width: 95%;	
	margin: 20px 0 5px 0;

	&>button{	
		@include mixins.displayFlex($alignI:center);
		font:600 clamp(1.3rem, .8rem + 1vw, 1.6rem) 'Rubik', sans-serif;
		gap:5px;
	}	
	.random{
		&-ball{
		    position: relative;
			cursor: pointer;
		    width: clamp(275px, 45vw, 370px);
			animation: rebote .7s infinite
		}  		
		&-effect{
			position: absolute;
			bottom:100px;
			width: 1500px;
		}
	}
}

@keyframes rebote {
  0%   {left:0; top:0px;}
  15%  {left:0; top:15px;}
  25%  {left:0; top:30px;}
  50%  {left:0; top:50px;}
  75%  {left:0; top:30px;}
  80%  {left:0; top:15px;}
  100% {left:0; top:0px;}
}