@use '../variables';

.search-bar{
	position: relative;

	input, .fa-magnifying-glass{
		color: variables.$dark-green;
		font-size: 1.9rem;
	}

	input{
		width: 12rem;
		padding: .8rem 5rem;
		background-color: variables.$light-green;
		border: none;
		border-radius: 3rem;
	}

	.fa-magnifying-glass{
	    position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		left: 7%;
	}
}