.searchBar{
	position: relative;
	justify-self: end;

	input{
		width: 150px;
		height: 35px;
		padding: 0 50px;
		border: none;
		border-radius: 30px;
		background-color: #E9F2DE;
		font-size: 18px;
		color: #476B6A;
	}

	.searchBar__icon{
	    position: absolute;
		top: 8px;
		left: 15px;
		color: #476B6A;
		font-size: 18px;
		cursor: text;
	}
}