.searchBar_container{
	position: relative;
	input{
		width: 180px;
		height: 40px;
		background-color: #E9F2DE;
		padding: 0 20px;
		font-size: 18px;
		color: #476B6A;
		outline: none;
		border: none;
		border-radius: 30px;
		
	}

	.search_icon{
	    position: absolute;
		top: 8px;
		right: 15px;
		color: #476B6A;
		font-size: 22px;
		cursor: text;
	}
}