.typeIcon{
	position: relative;
	display: inline;

	img{
		width: clamp(30px, 5vw, 45px);
		margin:0 5px;
	}
	span{
	    position: absolute;
	    left: -20px;
	    right: -20px;
	    bottom: clamp(42px, 6.5vw, 56px);    
	    min-width: 80px;
	    padding: 8px 0;
	    background: #000;
	    color: #FFF;
	    font-size: clamp(1.2rem, .6rem + 1vw, 1.6rem);
	    border-radius: 5px;
	    visibility: hidden;
	    opacity: 0;
	    transition: opacity .2s ease;

	    &::before{
			content: "";
			position: absolute;
			bottom: -7px;
			left: calc(50% - 7px);				
			border-top: 7px solid #000;
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
		}
	}
	&:hover{
		span {
			visibility: visible;
			opacity: 1;
		}	
	} 
}