.upload-image-button{
	position: relative;
	width: 100%;

	.loader{
		position: absolute;
		top: calc((100% - 100px)/2);
		left: calc((100% - 100px)/2);
	}

	&__input{
		position: absolute;
		top: calc((100% - 50px)/2);
		left: calc((100% - 50px)/2);

		.fa-circle-arrow-up{
			font-size: 50px;
		}
	
		&--exist{
			opacity: .5;
			transition: opacity .5s ease;
		
			&:hover {
        		opacity: 1;
    		}			
		}

		input{
			position: absolute;
			top: 0;
			left: 0;
			right: 0; 
			bottom: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
		}		
	}

}