$dark-green: #476B6A;
$light-green: #E9F2DE;
$brown_wood:#633115;

$blue-pokemon: #324ff1;
$yellow-pokemon: #FFE923;
$red-pokemon: #CF3030;
$red-font:#E7503C;

$red-incorrect: #FF3E30B3;
$green-correct: #4ED94EC7;

$silver_line:solid #C0C0C0 1px;