@use '../mixins'; 
@use '../variables'; 

.create-item-hall{
	padding: 20px;

	h1{
		color: #FFF;
		font: 700 clamp(3rem, 2rem + 2.5vw, 7rem) 'Jura', sans-serif;;
		text-align: center;

		span{
			color:variables.$yellow-pokemon;
			text-decoration: underline solid #FFF 1.2rem;
		}
	}

	.item{
    	max-width: 70vw;		
		margin: 35px auto;
    	background-color: variables.$brown_wood;
    	border: variables.$brown_wood clamp(15px, 3vw, 30px) solid;
    	border-bottom-width: clamp(10px, 3vw, 20px);

	    img{
	        object-fit: contain;
	        max-height: 660px;
	        max-width: 70vw;
	    }

	    textarea{
	    	display: block;
  		  	width: 100%;
	    	padding: clamp(.8rem, 3vw, 1.5rem) 0;
  		  	background-color: transparent;
  		  	color: #FFF;
  		  	font:400 clamp(1.6rem, 1rem + 1vw, 2.5rem) 'Arimo', sans-serif;
    		border: none;
	    }

	    textarea:disabled,
		textarea[disabled]{
		  opacity: .6;
		  cursor: default;
		}
	}

	.buttons{
		@include mixins.displayFlex($justify:center);
	    width: 100%;
	    max-width: 70vw;
	    margin: auto;
	    gap: 10%;
	}
}    