@use '../mixins';
@use '../variables';

.homepage{
	display: grid;
	grid-template-columns:2fr 1fr;
	align-items: center;
	padding: 5px;

	&__logo {
		justify-self: end;
		max-width: 150px;
		padding-right: 25px;
	}

	&__create-button {
		@include mixins.displayFlex($direction:row-reverse, $alignI:center, $justify:center);	
		overflow: hidden;
		width: 60px;
		height: 50px;
		background-color: #002147;
		border-radius: 22px;

		span, svg{
			color:#FFF;
		}
		span{
			font:900 2.5rem 'Rubik', sans-serif;
		}
	}

	.search-bar{
		justify-self: end;
	}

	.rem-filter-and-random{
		grid-column: 1/3;
		justify-self: center;
	}

	&__filters {
		.fa-filter{
			font-size: 3rem;
			padding-left:20px;
		}	

		.filters-mobile {
			position: absolute;
		    top: 0;
		    left: 0;
		    z-index: 2;
			overflow: hidden;
			width: 0;
			transition: width .5s cubic-bezier(.22,.61,.36,1);
			
			.fa-x{
				position: absolute;
				top: 20px;
				right: 5%;					
				color: #FFF;
				font-size: 2rem;
				cursor: pointer;
			}

			&--open {
			    width: 100%;
			}
		}
	}

	&__cards-container {
		grid-column: 1/3;
		justify-self: center;
		max-width: 1500px;

		.cards-container{
			@include mixins.displayFlex($justify:center, $wrap:wrap);

			.endMessage{
				width: 75vw;
				margin: 20px;
				padding: 10px;
				background-color: rgba(255, 255, 255, 0.81961);
				text-align: center;
				color: variables.$red-pokemon;
				font: bold clamp(1.6rem, 1rem + 1vw, 2.2rem) 'Rubik', sans-serif;
			}
		}
	}
}



@media (min-width: 1100px) {
	.homepage {
		grid-template-columns:1fr 1fr 1fr;
		
		.rem-filter-and-random{
			order: 5;
			grid-column: 1/4;
		}	

		&__logo {
			order: 2;
			max-width: 230px;
			justify-self: center;
			padding: 0;
			margin: 10px 0 20px 0;
		}

		&__create-button {
			flex-direction: row;
			order: 1;
			justify-self: center;
			width: 200px;
			height: 80px;
	    	letter-spacing: .2rem;
			border-radius: 5px;
			
			span, svg{
				transition: transform .6s cubic-bezier(.25, .1, .25, 1),
							font-size .5s cubic-bezier(.25, .1, .25, 1);
			}	

			span{
				transform: translateX(25px);
				font:600 1.8rem 'Rubik', sans-serif;
			}

			svg{
				transform: translateX(50px);
			    height: 100%;
			    width: 60px;			    
			    background-color: #2165b3;
			    padding: 5px;
			    border-radius: 80% 0 0 80%;	
			}

			&:hover{
				span{
					font-size: 1.6rem;
					transform: translateX(10px);
				}

				svg{
					transform: translateX(0);
				}
			}
		}

		.search-bar{
			order: 3;
			justify-self: center;
		}
		
		&__filters {
			grid-column: 1/4;
			order: 4;
			position: sticky;
			top:5px;
			z-index: 2;
		}	

		&__cards-container {
			order: 6;
			grid-column: 1/4;
		}
	}
}