body{
	background-color: #003A70;
}
#home{
	max-width: 100vw;
}

	#home .pokemonsHome{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 10px 150px;
		justify-content: center;
		margin-top: 30px;
	}
