#landing{
	color:#f9f9f9;
	background: url("../../static/landing.jpg");
	background-color: rgb(60,60,60);
	background-blend-mode: soft-light;
	height: 100vh;
	background-size: cover;
	display: flex;
	align-items: center;
  	justify-content: center;
  	flex-direction: column;
}

	#landing h1{
		font:900 200px cursive;
		text-shadow: 1px 1px 20px #000;
	}

	#landing button{
		font:900 100px cursive;
		min-height: 250px;
		min-width: 250px;
		cursor: pointer;
		background-color: #ff3a3a;
	    border: none;
	    border-radius: 50%;
		color:#f9f9f9;
		text-shadow: 1px 1px 5px #000;
		transition: 0.3s;
	}
	#landing button:hover{
		transform: scale(1.15);
	    background-color: #ff0000;
	}
