@use '../mixins';
@use '../variables';

.pokemon-create{
	&>h1{
	    padding: clamp(5px, 1vw, 20px) 0;
		color: #FFF;
		font-weight: 700;
		font-family: 'Jura', sans-serif;
		font-size: clamp(3.4rem, 2.5rem + 2.5vw, 5.5rem);
		text-align: center;
		line-height: 55px;
        text-decoration: underline solid #FFF 32%;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, .09);
	}	

	form{
		@include mixins.displayFlex($direction:column, $alignI:flex-start);	
		margin: 2vw 0;

		.form-container{
			margin: auto;
			background-color: rgba(255, 255, 255, .75);
			box-shadow: 0px 4px 4px rgba(0, 0, 0, .09);

			.upload-image-button{
				display: flex;

				img{
					margin: auto;
					max-height: 150px;
				}		
			}

			&__row{
				@include mixins.displayFlex($alignI:center);
				position: relative;

				label, .input-text{
					min-height: 2vw;
					padding: 5px;
					font:400 1.7rem 'Merriweather Sans', sans-serif;
					border: solid 1px;
				}

				label{
					@include mixins.displayFlex($justify: center, $alignI:center);
					width: clamp(110px, 18vw, 240px);
					background-color: #DBDBD9;
					border-color:#F4F4F4;
				}
				
				.input-text{
					width: clamp(170px, 18vw, 330px);
					padding-left: 2vw;
					background-color: #FFF;
					border-color: #DBDBD9;

					&--correct{
						background-color: variables.$green-correct;  
					}
					&--error{
						background-color: variables.$red-incorrect;
					}
				}

				&--type{
					label{
						height: 103px;
					}

					.type-container{
						@include mixins.typeSearchStyle1();
						@include mixins.displayFlex($alignI:center);
					    max-width: 150px;
					    height: 42px;
					    margin: 5px 0;
						background-color: #808080;
					    border-radius: 15px;
					    border: solid #808080 1px;
								 
						.select{
							&__option-main{
								@include mixins.displayFlex($justify: center);
								color:#FFF;
								font: 500 1.8rem 'Kdam Thmor Pro', sans-serif;
							    width: 100%;

							    img{
							    	width: 30px;
							    }
							}

							&__options--type{
								right: -27px;
	    						bottom: 45px;
							}					
						}
					}
				}
			}
		
			&:disabled,
			&[disabled]{
				pointer-events: none;
    			cursor: default;
			    opacity: .8;	
			    
			    .input-text{
	    			background-color: #f0f8ff;				    	
			    }
			}
		}

		.example{
			margin: auto;
		
			.card-container{
				position: relative;
				margin: 70px 0 50px;

				&:disabled,
				&[disabled]{
					opacity: .8;

					.loader-submit{
						position: absolute;
						top:calc((100% - 200px)/2);
						left:calc((100% - 200px)/2);
					}					
				}
			}

			.buttons{
				@include mixins.displayFlex($justify:space-between);
			    margin: 15px 0;
			}
		}    
	}
}


@media (min-width: 920px) {
.pokemon-create form{
	flex-direction: row;

	.form-container{
		margin: 0;
	}		

	.example .card-container{
		margin: 0 0 30px;
	}			
}
}